* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
}

.login-container {
    display: flex;
    width: 800px;
    height: 450px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-left {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    background: linear-gradient(135deg, #f86793, #80DAEB);
}

.login-left h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.login-left p {
    font-size: 16px;
    margin-bottom: 20px;
}

.login-left .signup-btn {
    padding: 12px 20px;
    background-color: #fff;
    color: #fe5b8c;
    border: none;

    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.login-left .signup-btn:hover {
    background-color: #ffe1e8;
}

.login-right {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-right h2 {
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 5px #87CEEB, 0 0 10px #87CEEB, 0 0 20px #87CEEB, 
        0 0 40px #A6CEE3, 0 0 60px #A6CEE3, 0 0 80px #A6CEE3;

    font-size: 35px;
}

#login-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form label {
    align-self: flex-start;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

#login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 26px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background: transparent; 
    color: #333;
    box-shadow: 0px 0px 10px rgba(166, 206, 227, 0.8), /* #A6CEE3 */
            0px 0px 20px rgba(166, 206, 227, 0.6), /* #A6CEE3 */
            0px 0px 30px rgba(135, 206, 235, 0.4); /* #87CEEB */
    transition: box-shadow 0.3s ease-in-out;
}

#login-form button {
    padding: 10px;
    background: linear-gradient(135deg, #A6CEE3, #87CEEB);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

#login-form button:hover {
    background-color: #ff7e5f;
}


#error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}